/* Colors */
$color-primary: #360101;
$color-primary-light: rgba(247, 119, 119, 0.685);
$color-secondary: #f0ed59;
$color-secondary-active: #fcfa9c;
$color-dark: #000;
$color-light: #fff;
$color-right: #02e027;
$color-error: #ee1616;
$rhap_main-controls-button: #f0ed59;
$rhap_progress-bar: #fcfa9c;
$rhap_background-color: #fff !default; // Color of the player background 
$rhap_bar-color: #e4e4e4 !default;     // Color of volume and progress bar 
$rhap_time-color: #333 !default;       // Font color of current time and duration 


$mobile-width: 500px;
$big-mobile-width: 600px;
$tablet-width: 800px;
$laptop-width: 1200px;

/* Fonts: families */
$font-primary: 'Inter', 'Arial', 'Tahoma', sans-serif;
$font-secondary: 'Alegreya', 'Georgia', 'Times', 'Times New Roman', serif;

/* Fonts: weights */
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-black: 900;
