@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin background-image($url, $size: cover, $position: center) {
  background-image: $url;
  background-position: $position;
  background-size: $size;
}

@mixin font(
  $size: 2rem,
  $weight: $font-weight-semibold,
  $style: normal,
  $family: $font-primary,
  $line-height: normal,
  $spacing: normal
) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  font-style: $style;
  line-height: $line-height;
  letter-spacing: $spacing;
}

@mixin transition($properties: all) {
  transition: $properties $animation-time ease-in-out;
}

/* MEDIA */

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-big-mobile {
  @media (min-width: $mobile-width + 1px) and (max-width: $big-mobile-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $big-mobile-width + 1px) and (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-laptop {
  @media (min-width: $tablet-width + 1px) and (max-width: $laptop-width) {
    @content;
  }
}

@mixin media-header-breakpoint {
  @media (max-width: $header-breakpoint) {
    @content;
  }
}

@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin button(
  $background-color: $color-primary-dark,
  $text-color: $color-dark
) {
  padding: 25px 100px;

  &.btn-primary,
  & {
    background-color: $background-color;
  }

  &:hover {
    background-color: darken($background-color, 10%);
  }

  .MuiButton-label {
    color: $text-color;
    text-transform: uppercase;

    text-shadow: 0px 4px 6px rgba($background-color, $alpha: 0.5),
      0px 2px 1px rgba($background-color, $alpha: 0.5),
      0px 1px 0px rgba($color-dark, $alpha: 0.8);

    @include font(
      $size: 3.2rem,
      $weight: $font-weight-black,
      $line-height: 100%,
      $spacing: 0.2rem
    );
  }
}

@mixin button-secondary($isWidthSet: false) {
  background-color: transparent;
  border: 2px solid $color-dark;
  outline: none;
  cursor: pointer;
  @include font(2.5rem, 400, normal, $font-secondary);
  @if $isWidthSet {
    padding: 20 0;
  } @else {
    padding: 20px 70px;
  }
  @include media-laptop {
    font-size: 2rem;
  }
  @include media-tablet {
    font-size: 1.8rem;
    @if $isWidthSet {
      padding: 7px 0;
    } @else {
      padding: 10px 40px;
    }
  }
  @include media-mobile {
    width: 48%;
    margin-bottom: calc(0.04 * (100vw - 30px));
    &:last-child {
      margin: 0 auto;
    }
  }
}
