.logo {
  margin: 0;
  padding: 0;
  color: $color-light;
  font-size: 4.5rem;
  font-style: italic;
  line-height: 1;
  @media (max-width: $big-mobile-width) {
    margin: 10px;
  }
  & > span {
    color: $color-secondary;
  }
}
