.answer-list__item {
  padding: 0.85rem 2rem;
  color: $color-light;
  font-size: 1.6rem;
  line-height: 1.65;
  background-color: $color-primary-light;
  border: 1px solid $color-primary;
  cursor: pointer;
  &:hover {
    color: $color-dark;
    background-color: $color-secondary-active;
  }
  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:last-child {
    border-radius: 0 0 5px 5px;
  }
  & > span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: $color-primary;
    border-radius: 50%;
  }
  &_right {
    & > span {
      background-color: $color-right;
    }
  }
  &_false {
    & > span {
      background-color: $color-error;
    }
  }
}

.answer-list__container {
  width: 45%;
  min-height: 252px;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  @media (max-width: $laptop-width) {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}
