.question__container {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background-color: $color-primary-light;
  border-radius: 5px;
  @include flex(row, space-between, center);
  @media (max-width: $tablet-width) {
    @include flex(column, space-between, center);
  }
}

.question__description {
  width: calc(100% - 240px);
  margin: 0;
  text-align-last: left;
  list-style: none;
  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 20px;
    text-align-last: center;
  }
  & > li:first-child {
    margin-bottom: 10px;
    border-bottom: 2px solid $color-primary;
  }
}

.question__text {
  width: 100%;
  color: $color-light;
  font-size: 3rem;
  line-height: 2;
  @media (max-width: $tablet-width) {
    padding-bottom: 10px;
    font-size: 2.4rem;
    line-height: 1.5;
    text-align: center;
  }
}
