.question__container {
  width: 75%;
  margin: 10px auto;
  padding: 10px;
  background-color: $color-primary-light;
  border-radius: 5px;
  @include flex(row, space-between, center);
}

.question__description {
  width: calc(100% - 240px);
  margin: 0;
  text-align-last: left;
  list-style: none;
  & > li:first-child {
    margin-bottom: 10px;
    border-bottom: 2px solid $color-primary;
  }
}

.question__text {
  width: 100%;
  color: $color-light;
  font-size: 3rem;
  line-height: 2;
}
