.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 90%;
  min-height: 200px;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: coral;
  border-radius: 5px;
}

.picture {
  width: 200px;
  height: 155px;
  object-fit: cover;
  border-radius: 10px;
}

.text {
  width: 100%;
  font-size: 30px;
  line-height: 1;
}

.description {
  width: calc(100% - 240px);
  margin: 0;
  text-align-last: left;
  list-style: none;
}

.description > li:first-child {
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
}
